@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  .container-floating{
    visibility: visible;
    height: 100%;
    opacity: 1;
    pointer-events: all;
    transition: all .175s linear;
  }

  .floating{
    background-color: #3b2c79 !important;
  }

  .btn-floating.is-hidden > button{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all .175s linear;
  }

  .container-floating.is-hidden{
    visibility: hidden;
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .175s linear;
  }

  .is-header.is-active{
    position: fixed;
    z-index: 99;
    background: #fff;
    top: 0;
    transition: all .2s ease-in; 
  }

  .is-header.is-active .is-navItem{
    top: -30px !important;
    background-color: #fbfbfb !important;
    box-shadow: 0 0px 0px -1px #cacaca, 0 3px 5px -2px #cacaca;
  }

  @media(max-width:767px){
    .floating{
      top: 62px !important;
    }

    .floating__container{
      max-width: 95% !important;
    }

    .floating__text span{
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      font-size: 12px;
      white-space: nowrap;
      max-width: 90%;      
    }

    .floating__price{
      grid-column: 5/8 !important;
      margin-right: 20px !important;      
    }

    .floating__price > *{
      font-size: 12px !important;
    }

    .floating__button{
      font-size: 12px !important;
    }

    .floating__button svg {
      display: none !important;
    }
  }
}


@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  @keyframes slide-left-frame {
    0% {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-right-frame {
    0% {
      transform: translateX(-100%)
    }

    to {
      transform: translateX(0)
    }
  }

  @keyframes slide-bottom-frame {
    0% {
      transform: translateY(100%)
    }

    to {
      transform: translateY(0)
    }
  }

  .animate-slide-left {
    animation: slide-left-frame 0.4s ease normal;
  }

  .animate-slide-right {
    animation: slide-right-frame 0.4s ease normal;
  }

  .animate-slide-bottom {
    animation: slide-bottom-frame 0.4s ease normal;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.readmore {
  @apply flex flex-col-reverse;
}

.readmore-label {
  @apply text-emphasis uppercase cursor-pointer;
}

.readmore-content {
  @apply line-clamp-6;
}

.readmore-toggle {
  @apply hidden;
}

.readmore-toggle:checked ~ .readmore-content {
  @apply line-clamp-none;
}

.readmore-toggle:checked ~ .readmore-label {
  visibility: hidden;
}

.readmore-toggle:checked ~ .readmore-label::before {
  content: "- Ler menos";
  visibility: visible;
}
